.spinner-container {
    width: 100%;
    height: 500px;
    display: grid;
    align-content: space-evenly;
    justify-content: space-around;
    justify-items: center;
}

.spinner-border {
    width: 100px !important; 
    height: 100px !important;
}


.css-fsk1vs {
    flex-wrap: wrap;
}

.traffic-spinner {
    display: grid;
    height: 100%;
    width: 100%;
    align-content: space-around;
    justify-content: space-around;
    justify-items: center;
}

.css-zow5z4-MuiGrid-root {
    justify-content: space-around;
}

.product-item:hover {
    border: 1px solid gray;
    cursor: pointer;
}
