.register_container {
    display: grid;
    width: 100%;
    padding: 40px 0;
    align-content: space-around;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

.register_container h2 {
    font-family: Roboto, sans-serif;
    color: darkcyan;
}


.register_container form div{
    width: 400px;
    margin: 5px;
}

.register_container form label {
    color: #444444;
}

.register_container button {
    margin: 10px 0;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}